<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org"> 
    <head th:insert = "~{user/template_user::head_user}"></head>
    <div th:insert = "~{user/template_user::header_user}"></div>
    
    <body>
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-3 col-md-6 mb-4 mt-5" th:each="product: ${products}" >
                    <div class="card h-100">
                   <img class="card-img-top" 
                        th:src="@{/images/{img} (img = ${product.image})}">
                   <div class="card-body">
                       <p class="card-text" th:text="${product.name}">
                           Nombre del producto</p>
                   </div>
                   <div class="card-footer">
                       <a th:href="@{home/product-detail/{id} (id = ${product.id})}" class="btn btn-success">Ver Producto</a>
                   </div>
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div>
    </body>
    
    <div class="bg-body-tertiary text-center mt-auto" th:insert = "~{user/template_user::footer_user}"> </div>
</html>

